name: Quality Assurance
on: [ push, pull_request ]

jobs:
  before_pr:
    name: before-pr.sh
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: install shellcheck
        run: ./lib/tegonal-scripts/src/ci/install-shellcheck.sh

      - name: install shfmt
        run: ./lib/tegonal-scripts/src/ci/install-shfmt.sh

      - name: before-pr.sh
        run: ./scripts/before-pr.sh
